* {
  font: 20px/1.5 Helvetica;
    margin-left: auto;
    margin-right: auto;
}

.autocomplete {
  display: inline-block;
  position: relative;
  align-content: center; 
  padding: 10px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
    }

label {
  display: block;
}

input, button {
  border: 1px solid;
  padding: 5px 10px;
  align-content: center;
}

button {
  background: #333;
  color: white;
  border-color: #333;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.autocomplete--suggestions {
  position: relative;
  z-index: 10000;
  width: 60%;
  padding: 5px 0;
  margin: 0;
  border: 1px solid #777;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background: white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 90vh;
  
}
.autocomplete--suggestions > li {
  list-style: none;
  margin: -3px 0;
  padding: 3px 10px;
}
.autocomplete--suggestions > li:hover, .autocomplete--suggestions > li.is-selected {
  background: #333;
  color: white;
  cursor: pointer;
  
}

h1{
  color: white;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  padding-top: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    }
